<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


    <head>
        <title>책방일지 - 대구 독서 커뮤니티</title>
        <meta name="description" content="책과의 거리는 더 가깝게 세상과 사람을 따뜻하게, 대구 독서모임 책방일지" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="naver-site-verification" content="ab7081bf446ad8891d16f9d5920ec6070d536e2b" />

        <meta property="og:type" content="website">
        <meta property="og:title" content="책방일지 - 대구 독서 커뮤니티">
        <meta property="og:description" content="책과의 거리는 더 가깝게 세상과 사람을 따뜻하게, 대구 독서모임 책방일지">
        <meta property="og:url" content="http://dailyrecordofbook.com">
        <link rel="canonical" href="http://dailyrecordofbook.com/">
        <meta name="keywords" content="대구독서모임,독서모임,영화모임,글쓰기모임">

        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <script src="https://kit.fontawesome.com/f094e80764.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">

<!--        <link rel="alternate" type="application/rss+xml" href="http://dailyrecordofbook.com/rss.xml" title="대구 독서모임 책방일지">-->
    </head>

    <header th:replace="fragments/header :: headerFragment"></header>

    <div layout:fragment="content"></div>

    <footer th:replace="fragments/footer :: footerFragment"></footer>
</html>

