<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
    <link rel="stylesheet" th:href="@{/css/board/likeBtn.css}">
    <script src="/js/board/detail.js" defer></script>
    <script src="/js/board/comment.js" defer></script>
</head>

<div layout:fragment="content">
    <div class="detail_container">
        <th:block th:if="${#strings.equals(boardInfo.categoryIdx, '1')}">
            <h1 class="h1">책방일지와 함께하며</h1>
        </th:block>

        <th:block th:if="${#strings.equals(boardInfo.categoryIdx, '11')}">
            <h1 class="h1">모집 중인 독서모임</h1>
        </th:block>

        <th:block th:if="${#strings.equals(boardInfo.categoryIdx, '12')}">
            <h1 class="h1">모집 마감, 종료 된 독서모임</h1>
        </th:block>

        <input type="hidden" id="boardIdx" th:value="${boardInfo.idx}">

        <div class="btn" th:if="${session.user} != null">
            <block th:if="${#strings.equals(session.user.idx, boardInfo.writerIdx)}">
                <input type="hidden" id="sessionUserIdx" th:value="${session.user.idx}">
                <input type="button" class="detail_btn" onclick="modify_action()" value="수정">
                <input type="button" class="detail_btn" onclick="delete_action()" value="삭제">
            </block>

            <block th:if="${#strings.equals(session.user.role, 'ADMIN')}">
                <block th:if="${#strings.equals(boardInfo.categoryIdx, '11')}">
                    <input type="button" class="detail_btn" onclick="close_action()" value="모집 마감">
                </block>
            </block>
        </div>


        <div class="detail_top">
            <div class="detail_title" th:text="${boardInfo.title}"></div>
            <div class="detail_writerInfo">
                <input type="hidden" id="writeIdx" th:value="${boardInfo.writerIdx}">
                <img id="writer_profile_img" th:src="${writerInfo.picture}">
                <div id="writer_nm" th:text="${writerInfo.realName}"></div>
            </div>
            <div th:text="${#temporals.format(boardInfo.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>

        <div class="detail_top">
            <div class="detail_content">
                <p th:utext="${boardInfo.content}"></p>
            </div>
        </div>

        <input type="hidden" id="categoryIdx" th:value="${boardInfo.categoryIdx}">

        <!-- 댓글 리스트 -->
        <div id="cmtList"></div>

        <!-- 댓글 작성 -->
        <block th:if="${#strings.equals(boardInfo.categoryIdx, '1')}">
            <div class="cmtWrite" th:onclick="chkLogin()">
                <form id="cmtForm">
                    <div>
                        <textarea name="cmtContent" id="cmtContent" class="write_content" placeholder="댓글 내용을 작성해주세요."></textarea>
                    </div>
                    <div>
                        <input id="cmtWriteBtn" class="cmt_btn" type="button" value="댓글 등록" th:onclick="writeComment()">
                    </div>
                </form>
            </div>
        </block>

    </div>

</div>

</html>






