<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
    <script src="/js/board/write.js" defer></script>
    <script src="/js/ckeditor.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/board/write.css}">

</head>

<div layout:fragment="content">
    <div class="write_content">
        <h1 class="h1">글쓰기</h1>

        <form id="write_form" action="/board/write" method="post">
            <input type="hidden" name="categoryIdx" th:value="${param.category}">
            <div>
                <input type="text" class="write_title" name="title" placeholder="제목을 입력해주세요." required>
            </div>
            <textarea name="content" id="editor" placeholder="내용을 입력해주세요."></textarea>
            <div>
                <input type="submit" id="write" class="write_btn" value="등록">
            </div>
        </form>
    </div>
</div>

</html>






