<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
    <script src="/js/board/write.js" defer></script>
    <script src="/js/ckeditor.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/board/write.css}">
</head>

<div layout:fragment="content">
    <div class="write_content">
        <th:block th:if="${#strings.equals(param.category, '1')}">
            <h1 class="h1">책방둥이 이야기 글쓰기</h1>
        </th:block>

        <th:block th:if="${#strings.equals(param.category, '11')}">
            <h1 class="h1">모임 등록</h1>
        </th:block>

        <th:block th:if="${#strings.equals(param.category, '21')}">
            <h1 class="h1">공지사항 등록</h1>
        </th:block>

        <form id="write_form" action="/board/write" method="post">
            <input type="hidden" name="categoryIdx" th:value="${param.category}">
            <div>
                <input type="text" class="write_title" name="title" placeholder="제목을 입력해주세요." required>
            </div>
            <textarea name="content" id="editor" placeholder="내용을 입력해주세요."></textarea>

            <th:block th:if="${#strings.equals(param.category, '11')}">
                <div>
                    <input type="text" class="write_title" name="linkUrl" placeholder="모임 링크를 추가해주세요.">
                </div>
            </th:block>
            <div>
                <input type="submit" id="write" class="write_btn" value="등록">
            </div>
        </form>
    </div>

    <div class="write_mb">
        <img th:src="@{/images/write.png}" alt="">
        <p style="margin-top: 50px">"모바일 환경에서는 글쓰기 기능을 제공하지 않습니다."</p>
        <p>책방일지 PC버전을 이용해주세요.</p>
    </div>
</div>

</html>






