<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/user/changePassword.css}">
    <script src="/js/user/changePassword.js" defer></script>
</head>

<div layout:fragment="content">
    <div class="changePw_content">
        <h1 class="h1">비밀번호 변경</h1>
        <form id="changePassword_form">

            <div th:if="${session.user} != null">
                <input type="hidden" name="email" th:value="${session.user.email}">
            </div>

            <div class="changePw">
                <h3 class="h3">기존 비밀번호</h3>
                <input type="password" name="originPassword" placeholder="기존 비밀번호를 입력해주세요.">
                <h3 class="h3">새로운 비밀번호</h3>
                <input type="password" name="newPassword" placeholder="새로운 비밀번호를 입력해주세요.">
                <p>- 비밀번호는 숫자와 영문자 조합으로 8~20자리를 사용해야 합니다.</p>
                <h3 class="h3">새로운 비밀번호 재입력</h3>
                <input type="password" name="newPasswordRe" placeholder="새로운 비밀번호를 다시 한 번 입력해주세요.">
            </div>
            <div class="errMsg" id="errMsg"></div>
            <input type="button" class="changePw_btn" value="비밀번호 변경" onclick="changePw();">
        </form>
    </div>
</div>

</html>






