<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/user/findPassword.css}">
    <script src="/js/user/findPassword.js" defer></script>
</head>

<div layout:fragment="content">
    <div class="findPw_content">
        <h1 class="h1">비밀번호 찾기</h1>
        <form id="findPassword_form">
            <div class="findPw">
                <h3 class="h3">이메일</h3>
                <input type="text" name="email" placeholder="이메일을 입력해주세요.">
                <p>- 가입하신 이메일로 임시 비밀번호가 발송됩니다.</p>
            </div>
            <div class="findPw">
                <h3 class="h3">이름</h3>
                <input type="text" name="realName" placeholder="이름을 입력해주세요.">
            </div>
            <div class="findPw">
                <h3 class="h3">생년월일</h3>
                <input type="text" name="birth" placeholder="생년월일을 입력해주세요.">
                <p>- 생년월일은 예시와 같이 6자리 숫자로 입력해주세요. ex) 920101</p>
            </div>
            <div class="findPw" id="underFindPw">
                <h3 class="h3">휴대폰번호</h3>
                <input type="text" name="phone" placeholder="휴대폰번호를 입력해주세요.">
                <p>- 휴대폰번호는 "-" 없이 입력해주세요. ex) 01099998888</p>
            </div>
            <div class="errMsg" id="errMsg"></div>
            <input type="button" class="findPw_btn" value="비밀번호 찾기" onclick="findPassword()">
        </form>
    </div>
</div>

</html>






