<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/user/terms.css}">
    <script src="/js/user/terms.js" defer></script>
</head>

<div layout:fragment="content">
    <!-- 약관 세부 내용 수정 필요!! -->
    <form id="terms_content">

        <p class="sign">
        <h1 class="h1">회원가입</h1>
        </p>

        <div class="checks">
            <input type="checkbox" id="chk1_all" onclick="chkAll()">
            <label class="top_label" for="chk1_all">책방일지 이용약관, 개인정보 수집 및 이용, 프로모션 정보 수신(선택)에 모두 동의합니다.
            </label>
        </div>
        <!-- 이용 약관 동의 -->
        <div class="terms_box">
            <h3 class="h3">책방일지 이용 약관 동의 (필수)</h3>
            <div class="agree_box">

                <div class="article_text">
                    <h4>제 1 장 총칙</h4>
                    <p></p>
                </div>

                <div class="article_text">
                    <h4>제 1 조 (목적)</h4>
                    <p>본 약관은 책방일지(이하 “책방일지”라 합니다)이 운영하는 웹사이트 ‘책방일지’ (www.dailyrecordofbook.com) (이하 “웹사이트”라 합니다.)에서 제공하는 온라인 서비스(이하 “서비스”라 합니다.)를 이용함에 있어 사이버몰과 이용자의 권리, 의무 및 책임사항을 규정함을 목적으로 합니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 2 조 (용어의 정의)</h4>
                    <p>본 약관에서 사용하는 용어는 다음과 같이 정의한다.</p>
                    <p>1.	“웹사이트”란 회사가 재화 또는 용역을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 또는 용역을 거래 할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.</p>
                    <p>2.	“이용자”란 “웹사이트”에 접속하여 서비스를 이용하는 회원 및 비회원을 말합니다.</p>
                    <p>3.	“회원”이라 함은 “웹사이트”에 개인정보를 제공하여 회원등록을 한 자로서, “웹사이트”의 정보를 지속적으로 제공받으며, “웹사이트”이 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.</p>
                    <p>4.	“비회원”이라 함은 회원에 가입하지 않고, “웹사이트”이 제공하는 서비스를 이용하는 자를 말합니다.</p>
                    <p>5.	“ID”라 함은 이용자가 회원가입당시 등록한 사용자 “개인이용문자”를 말합니다.</p>
                    <p>6.	“정회원”이라 함은 회원등록을 한 자로서, 별도의 온/오프라인 상에서 추가 서비스를 제공 받을 수 있는 회원을 말합니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 3 조 (약관의 공시 및 효력과 변경)</h4>
                    <p>1.	본 약관은 회원가입 화면에 게시하여 공시하며 회사는 사정변경 및 영업상 중요한 사유가 있을 경우 약관을 변경할 수 있으며 변경된 약관은 공지사항을 통해 공시한다.</p>
                    <p>2.	본 약관 및 차후 회사사정에 따라 변경된 약관은 이용자에게 공시함으로써 효력을 발생한다.</p>
                </div>

                <div class="article_text">
                    <h4>제 4 조 (약관 외 준칙)</h4>
                    <p>본 약관에 명시되지 않은 사항이 전기통신기본법, 전기통신사업법, 정보통신촉진법, ‘전자상거래등에서의 소비자 보호에 관한 법률’, ‘약관의 규제에관한법률’, ‘전자거래기본법’, ‘전자서명법’, ‘정보통신망 이용촉진등에 관한 법률’, ‘소비자보호법’ 등 기타 관계 법령에 규정되어 있을 경우에는 그 규정을 따르도록 한다.</p>
                </div>

                <div class="article_text">
                    <h4>제 2 장 이용계약</h4>
                    <p></p>
                </div>

                <div class="article_text">
                    <h4>제 5 조 (이용신청)</h4>
                    <p>1.	이용신청자가 회원가입 안내에서 본 약관과 개인정보보호정책에 동의하고 등록절차(회사의 소정 양식의 가입 신청서 작성)를 거쳐 ‘확인’ 버튼을 누르면 이용신청을 할 수 있다.</p>
                    <p>2.	이용신청자는 반드시 실명과 실제 정보를 사용해야 하며 1개의 이메일, 생년월일에 대하여 1건의 이용신청을 할 수 있다.</p>
                    <p>3.	실명이나 실제 정보를 입력하지 않은 이용자는 법적인 보호를 받을 수 없으며, 서비스 이용에 제한을 받을 수 있다.</p>
                </div>

                <div class="article_text">
                    <h4>제 6 조 (이용신청의 승낙)</h4>
                    <p>1.	회사는 제5조에 따른 이용신청자에 대하여 제2항 및 제3항의 경우를 예외로 하여 서비스 이용을 승낙한다.</p>
                    <p>2.	회사는 아래 사항에 해당하는 경우에 그 제한사유가 해소될 때까지 승낙을 유보할 수 있다.</p>
                    <p>가. 서비스 관련 설비에 여유가 없는 경우</p>
                    <p>나. 기술상 지장이 있는 경우</p>
                    <p>다. 기타 회사 사정상 필요하다고 인정되는 경우</p>
                    <p>3.	회사는 아래 사항에 해당하는 경우에 승낙을 하지 않을 수 있다. </p>
                    <p>가. 다른 사람의 명의를 사용하여 신청한 경우</p>
                    <p>나. 이용자 정보를 허위로 기재하여 신청한 경우</p>
                    <p>다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우</p>
                    <p>라. 기타 회사가 정한 이용신청 요건이 미비한 경우</p>
                </div>

                <div class="article_text">
                    <h4>제 3 장 계약 당사자의 의무</h4>
                    <p></p>
                </div>

                <div class="article_text">
                    <h4>제 7 조 (회사의 의무)</h4>
                    <p>1.	회사는 사이트를 안정적이고 지속적으로 운영할 의무가 있다.</p>
                    <p>2.	회사는 이용자로부터 제기되는 의견이나 불만이 정당하다고 인정될 경우에는 즉시 처리해야 한다. 단, 즉시 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 공지사항 또는 전자우편을 통해 통보해야 한다.</p>
                    <p>3.	제1항의 경우 수사상의 목적으로 관계기관 및 정보통신윤리위원회의 요청이 있거나 영장 제시가 있는 경우, 기타 관계 법령에 의한 경우는 예외로 한다.</p>
                </div>

                <div class="article_text">
                    <h4>제 8 조 (이용자의 의무)</h4>
                    <p>1.	이용자는 본 약관 및 회사의 공지사항, 사이트 이용안내 등을 숙지하고 준수해야 하며 기타 회사의 업무에 방해되는 행위를 해서는 안된다.</p>
                    <p>2.	이용자는 회사의 사전 승인 없이 본 사이트를 이용해 어떠한 영리행위도 할 수 없다.</p>
                    <p>3.	이용자는 본 사이트를 통해 얻는 정보를 회사의 사전 승낙 없이 복사, 복제, 변경, 번역, 출판, 방송 및 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없다.</p>
                </div>

                <div class="article_text">
                    <h4>제 4 장 서비스의 제공 및 이용</h4>
                    <p></p>
                </div>

                <div class="article_text">
                    <h4>제 9 조 (서비스 이용)</h4>
                    <p>1.	이용자는 본 약관의 규정된 사항을 준수해 사이트를 이용한다.</p>
                    <p>2.	본 약관에 명시되지 않은 서비스 이용에 관한 사항은 회사가 정해 ‘공지사항’에 게시하거나 또는 별도로 공지하는 내용에 따른다.</p>
                </div>

                <div class="article_text">
                    <h4>제 10 조 (정보의 제공)</h4>
                    <p>회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보에 대하여 전자메일이나 서신우편 등의 방법으로 회원에게 정보를 제공할 수 있다.</p>
                </div>

                <div class="article_text">
                    <h4>제 11 조 (광고게재)</h4>
                    <p>1.	회사는 서비스의 운용과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고 등을 게재할 수 있다.</p>
                    <p>2.	회사는 사이트에 게재되어 있는 광고주의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 책임을 지지 않는다.</p>
                </div>

                <div class="article_text">
                    <h4>제 12 조 (서비스 이용의 제한)</h4>
                    <p>본 사이트 이용 및 행위가 다음 각 항에 해당하는 경우 회사는 해당 이용자의 이용을 제한할 수 있다.</p>
                    <p>1.	공공질서 및 미풍양속, 기타 사회질서를 해하는 경우</p>
                    <p>2.	범죄행위를 목적으로 하거나 기타 범죄행위와 관련된다고 객관적으로 인정되는 경우</p>
                    <p>3.	타인의 명예를 손상시키거나 타인의 서비스 이용을 현저히 저해하는 경우</p>
                    <p>4.	타인의 의사에 반하는 내용이나 광고성 정보 등을 지속적으로 전송하는 경우</p>
                    <p>5.	해킹 및 컴퓨터 바이러스 유포 등으로 서비스의 건전한 운영을 저해하는 경우</p>
                    <p>6.	다른 이용자 또는 제3자의 지적재산권을 침해하거나 지적재산권자가 지적 재산권의 침해를 주장할 수 있다고 판단되는 경우</p>
                    <p>7.	타인의 아이디 및 비밀번호를 도용한 경우</p>
                    <p>8.	기타 관계 법령에 위배되는 경우 및 회사가 이용자로서 부적당하다고 판단한 경우</p>
                </div>

                <div class="article_text">
                    <h4>제 13 조 (서비스 제공의 중지)</h4>
                    <p>회사는 다음 각 호에 해당하는 경우 서비스의 전부 또는 일부의 제공을 중지할 수 있다.</p>
                    <p>1.	전기통신사업법 상에 규정된 기간통신 사업자 또는 인터넷 망 사업자가 서비스를 중지했을 경우</p>
                    <p>2.	정전으로 서비스 제공이 불가능할 경우</p>
                    <p>3.	설비의 이전, 보수 또는 공사로 인해 부득이한 경우</p>
                    <p>4.	서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 제공이 어려운 경우</p>
                    <p>5.	전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우</p>
                </div>

                <div class="article_text">
                    <h4>제 14 조 (게시물 관리)</h4>
                    <p>회사는 건전한 통신문화 정착과 효율적인 사이트 운영을 위하여 이용자가 게시하거나 제공하는 자료가 제12조에 해당한다고 판단되는 경우에 임의로 삭제, 자료이동, 등록거부를 할 수 있다.</p>
                </div>

                <div class="article_text">
                    <h4>제 15 조 (서비스 이용 책임)</h4>
                    <p>이용자는 회사에서 권한 있는 사원이 서명한 명시적인 서면에 구체적으로 허용한 경우를 제외하고는 서비스를 이용하여 불법상품을 판매하는 영업활동을 할 수 없으며 특히 해킹, 돈벌기 광고, 음란 사이트를 통한 상업행위, 상용 S/W 불법제공 등을 할 수 없다. 이를 어기고 발생한 영업활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가 책임을 지지 않는다.</p>
                </div>

                <div class="article_text">
                    <h4>제 5 장 기타</h4>
                    <p></p>
                </div>

                <div class="article_text">
                    <h4>제 16 조 (면책 및 손해배상)</h4>
                    <p>1.	천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 회사의 서비스 제공 책임이 면제된다.</p>
                    <p>2.	회사는 이용자간 또는 이용자와 제3자간의 상호거래 관계에서 발생되는 결과에 대하여 어떠한 책임도 부담하지 않는다.</p>
                    <p>3.	회사는 이용자가 게시판에 게재한 정보, 자료, 내용 등에 관하여 사실의 정확성, 신뢰도 등에 어떠한 책임도 부담하지 않으며 이용자는 본인의 책임 아래 본 사이트를 이용해야 한다.</p>
                    <p>4.	이용자가 게시 또는 전송한 자료 등에 관하여 손해가 발생하거나 자료의 취사선택, 기타 무료로 제공되는 서비스 이용과 관련해 어떠한 불이익이 발생하더라도 이에 대한 모든 책임은 이용자에게 있다.</p>
                    <p>5.	아이디와 비밀번호의 관리 및 이용자의 부주의로 인하여 발생되는 손해 또는 제3자에 의한 부정사용 등에 대한 책임은 이용자에게 있다.</p>
                    <p>6.	이용자가 본 약관의 규정을 위반함으로써 회사에 손해가 발생하는 경우 이 약관을 위반한 이용자는 회사에 발생한 모든 손해를 배상해야 하며 동 손해로부터 회사를 면책시켜야 한다.</p>
                </div>

                <div class="article_text">
                    <h4>제 17 조 (개인신용정보 제공 및 활용에 대한 동의서)</h4>
                    <p>회사가 회원 가입과 관련해 취득한 개인 신용 정보는 신용정보의 이용 및 보호에 관한 법률 제23조의 규정에 따라 타인에게 제공 및 활용 시 이용자의 동의를 얻어야 한다. 이용자의 동의는 회사가 회원으로 가입한 이용자의 신용정보를 신용정보기관, 신용정보업자 및 기타 이용자 등에게 제공해 이용자의 신용을 판단하기 위한 자료로서 활용하거나 공공기관에서 정책자료로 활용하는데 동의하는 것으로 간주한다.</p>
                </div>

                <div class="article_text">
                    <h4>제 18 조 (분쟁의 해결)</h4>
                    <p>1.	회사와 이용자는 본 사이트 이용과 관련해 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 해야 한다.</p>
                    <p>2.	제1항의 규정에도 불구하고 동 분쟁으로 인하여 소송이 제기될 경우 동 소송은 회사의 본사 소재지를 관할하는 법원의 관할로 본다.</p>
                </div>

                <div class="article_text">
                    <h4>부칙</h4>
                    <p>본 약관은 2021년 07월 20일부터 적용한다.</p>
                </div>

            </div>
            <div class="checks">
                <input type="checkbox" id="chk1_1">
                <label for="chk1_1">이용 약관에 동의합니다.
                </label>
            </div>
        </div>

        <!-- 개인정보 수집 및 이용 동의 -->
        <div class="terms_box">
            <h3 class="h3">개인정보 수집 및 이용 동의 (필수)</h3>
            <div class="agree_box">

                <div class="article_text">
                    <h4>책방일지 개인정보 처리방침</h4>
                    <p>책방일지(이하 ‘회사’)는 이용자의 동의를 기반으로 개인정보를 수집·이용 및 제공하고 있으며, 이용자의 권리(개인정보 자기결정권)를 적극적으로 보장합니다. 회사는 정보통신서비스제공자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있습니다.</p>
                    <p>‘개인정보 처리방침’이란 이용자의 소중한 개인정보를 보호하여 안심하고 서비스를 이용할 수 있도록 회사가 서비스를 운영함에 있어 준수해야 할 지침을 의미합니다.</p>
                </div>

                <div class="article_text">
                    <h4>제1조 (개인정보 수집)</h4>
                    <p>이용자는 회원가입을 하지 않아도 일부 서비스를 회원과 동일하게 이용할 수 있고, 회원가입을 통해 더욱 다양한 서비스를 제공받을 수 있습니다. 이용자가 회원가입을 할 경우, 회사는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.</p>
                    <p>회원가입 시점에 회사는 이용자로부터 아래와 같은 개인정보를 수집합니다.</p>
                    <p>1. 일반 회원</p>
                    <p>- 필수 정보: 이름, 성별, 생년월일, 휴대전화번호, 이메일주소, 비밀번호</p>
                    <p>- 선택 정보: 가입 경로 외 기타 정보</p>
                    <p>필수 정보란 서비스의 본질적 기능을 수행하기 위해 필요한 정보이며, 선택 정보란 서비스 이용 자체에 영향을 미치지는 않으나 이용자에게 부가적인 가치를 제공하기 위해 추가로 수집하는 정보입니다.</p>
                    <p>회원가입 시에 수집하는 이메일주소, 비밀번호는 로그인을 위하여 필요한 정보이며 이름, 생년월일, 성별, 휴대전화번호는 회원제 서비스 운영에 따르는 이용자 구분을 위하여 사용됩니다.</p>
                    <p>서비스 이용과정에서 이용자로부터 수집하는 개인정보는 서비스에 따라 차이가 있을 수 있습니다.</p>
                    <p>추가로 개인정보를 수집할 경우에는 해당 개인정보 수집 시점에서 이용자에게 ‘수집하는 개인정보 항목, 개인정보의 수집 및 이용목적, 개인정보의 보관기간’에 대해 안내하고 동의를 받습니다.</p>
                    <p>회사는 아래의 방법을 통해 개인정보를 수집합니다</p>
                    <p>1. 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우, 해당 개인정보를 수집합니다.</p>
                    <p>2. 고객센터 및 담당직원을 통한 상담 과정에서 웹페이지, 메일, 팩스, 문자, 전화 등을 통해 이용자의 개인정보가 수집될 수 있습니다.</p>
                    <p>3. 오프라인에서 진행되는 이벤트, 세미나 등에서 서면을 통해 개인정보가 수집될 수 있습니다.</p>
                    <p>4. 회사와 제휴한 외부 기업이나 단체로부터 개인정보를 제공받을 수 있으며, 이러한 경우에는 정보통신망법에 따라 제휴사에서 이용자에게 개인정보 제공 동의 등을 받은 후에 책방일지에 제공합니다.</p>
                    <p>5. 기기정보와 같은 생성정보는 PC웹, 모바일 웹/앱 이용 과정에서 자동으로 생성되어 수집될 수 있습니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 2조 (개인정보 처리 및 보유)</h4>
                    <p>회사는 이용자의 개인정보를 다음과 같은 목적으로만 처리합니다.</p>
                    <p>1. 회원관리</p>
                    <p>- 이용자 식별, 가입의사 확인, 본인 확인, 회원탈퇴 의사 확인, 불량회원 부정 이용 방지 등</p>
                    <p>- 법령 및 회사 이용약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재, 계정도용 및 부정거래 방지, 약관 개정 등의 공지사항 전달, 분쟁조정을 위한 기록 보존, 민원처리 등</p>
                    <p>2. 서비스 개발, 제공 및 향상</p>
                    <p>- 콘텐츠 등 서비스 제공(광고 포함),서비스 관련 알림 및 안내,인구통계학적 분석, 서비스 방문 및 이용기록의 분석, 개인정보 및 관심사에 기반한 이용자간 관계의 형성, 지인 및 관심사 등에 기반한 맞춤형 서비스 제공 등 신규 서비스 요소의 발굴 및 기존 서비스 개선</p>
                    <p>- 이벤트 정보 및 참여기회 제공, 광고성 정보 제공</p>
                    <p>- 서비스 이용기록과 접속 빈도 분석, 서비스 이용에 대한 통계, 서비스 분석 및 통계에 따른 맞춤 서비스 제공 및 광고 게재 등</p>
                    <p>3. 안전한 이용환경 구축</p>
                    <p>- 보안, 프라이버시, 안전 측면에서 이용자가 안심하고 이용할 수 있는 서비스 이용환경 구축</p>
                    <p>회사는 이용자로부터 동의 받은 처리목적이 달성되거나 법령에 따른 보존기간이 달성될 때까지 개인정보를 처리 및 보유합니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 3조 (개인정보 파기)</h4>
                    <p>회사는 이용자의 개인정보에 대해 처리목적이 달성되어 불필요하게 되었을 때는 해당 개인정보를 지체 없이 파기합니다.</p>
                    <p>전자적 파일 형태인 경우 복구 및 재생되지 않도록 기술적인 방법을 이용하여 완전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.</p>
                    <p>단, 관계법령에 따라 개인정보 보존의무가 부과되는 경우에는 법령이 정한 기간 동안 보존합니다. 관계법령에 의해 보존해야 하는 정보와 보존기간은 아래와 같습니다.</p>
                    <p>- 표시/광고에 관한 기록: 6개월</p>
                    <p>- 계약 또는 청약철회에 관한 기록: 5년</p>
                    <p>- 소비자의 불만 또는 분쟁처리에 관한 기록: 3년</p>
                    <p>- 서비스 이용 관련 개인정보(로그인 기록): 3개월</p>
                </div>

                <div class="article_text">
                    <h4>제 4조 (이용자의 권리와 행사 방법)</h4>
                    <p>회원 및 법정 대리인은 언제든지 등록되어 있는 자신 또는 대리자의 개인정보를 조회하거나 수정할 수 있으며, 회원 탈퇴 절차에 따라 가입 해지(동의 철회)를 요청할 수 있습니다.</p>
                    <p>회원은 홈페이지의 '마이페이지' 내의 '내 정보 수정’을 통하여 개인정보 조회 및 수정을 할 수 있습니다. 단, 서비스의 원활한 제공을 위하여 직접 수정이 제한된 개인정보의 수정을 위해서는 dailyrecordofbook1@naver.com로 문의 바랍니다.</p>
                    <p>가입 해지를 위해서는 성명, 휴대전화번호, 가입 시 기재된 메일주소 등의 정보를 탈퇴의사와 함께 기재하여 dailyrecordofbook1@naver.com로 보내주시면 처리해드립니다.</p>
                    <p>회원이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 해당 개인정보를 이용 또는 제공∙위탁하지 않습니다.</p>
                    <p>또한 잘못된 개인정보를 제3자에게 이미 위탁한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 합니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 5조 (개인정보 자동 수집 장치의 설치, 운영 및 그 거부에 관한 사항)</h4>
                    <p>회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 불러오는 세션(session)를 사용합니다. </p>
                    <p>이용자가 웹사이트에 방문할 경우 웹 사이트 서버는 이용자의 정보를 세션에 저장하여 이용자의 환경설정을 유지하고 맞춤화된 서비스를 제공하게 됩니다.</p>
                    <p>세션은 이용자가 웹 사이트 로그인을 진행했을 때, 웹 사이트 사용을 설정한대로 접속하고 편리하게 사용할 수 있도록 돕습니다. 또한, 이용자의 웹사이트 방문 기록, 이용 형태를 통해서 최적화된 광고 등 맞춤형 정보를 제공하기 위해 활용됩니다.</p>
                    <p>세션은 개인을 식별하는 정보를 자동적/능동적으로 수집하지 않으며, 이용자는 세션 허용에 대한 선택권을 가지고 있습니다.</p>
                    <p>따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 세션을 허용하거나, 저장될 때마다 확인을 거치거나, 세션의 저장을 거부할 수 있습니다. 다만 세션을 허용하지 않을 경우 웹사이트 사용이 불편해지며 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 6조 개인정보의 안전성 확보 조치</h4>
                    <p>회사는 이용자의 개인정보 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.</p>
                    <p>- 관리적 조치: 직원 교육, 취급자 최소화</p>
                    <p>- 기술적 조치: 시스템 접근권한 관리</p>
                    <p>- 물리적 조치: 보관장소 접근통제</p>
                    <p>개인정보 보호책임자 및 담당부서</p>
                    <p>- 책임자 : 최지안</p>
                    <p>- 담당부서: 기술 개발</p>
                    <p>- 문의: 고객센터 dailyrecordofbook1@naver.com</p>
                    <p>또한 개인정보가 침해되어 이에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하셔서 도움을 받으실 수 있습니다.</p>
                    <p>- 개인정보침해신고센터: 국번 없이 118 (https://privacy.kisa.or.kr)</p>
                    <p>- 개인정보 분쟁조정위원회: 02-2100-2499 (http://kopico.go.kr)</p>
                    <p>- 대검찰청 사이버수사과: 국번 없이 1301 (http://www.spo.go.kr)</p>
                    <p>- 경찰청 사이버안전국: 국번 없이 182 (http://cyberbureau.police.go.kr)</p>
                </div>

                <div class="article_text">
                    <h4>제 7조 본 개인정보 처리방침의 적용 범위</h4>
                    <p>본 개인정보 처리방침은 회사의 독서모임 및 그에 관한 제반 서비스 적용되며, 다른 이름으로 제공되는 서비스에 대해서는 별개의 개인정보 처리방침이 적용될 수 있습니다.</p>
                    <p>회사는 회원에게 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 회사가 포함하고 있는 링크를 클릭하여 타 웹사이트의 페이지로 옮겨 갈 경우 해당 사이트의 개인정보 처리방침은 회사와 무관하므로 새로 방문한 사이트의 정책을 검토해 보시기 바랍니다.</p>
                </div>

                <div class="article_text">
                    <h4>제 8조 개인정보 처리방침의 개정 및 공지</h4>
                    <p>회사는 법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 본 개인정보 처리방침을 수정할 수 있습니다. 내용에 대한 추가, 삭제 및 수정이 있을 경우 시행일 최소 7일 전부터 홈페이지 상에 공지합니다.</p>
                    <p>다만, 이용자 권리 또는 의무에 중대한 변경이 발생할 때에는 최소 30일전에 공지합니다.</p>
                </div>

            </div>

            <div class="checks">
                <input type="checkbox" id="chk1_2">
                <label for="chk1_2">개인정보 수집 및 이용에 동의합니다.
                </label>
            </div>
        </div>

        <!-- 프로모션 정보 수신 동의 -->
        <div class="terms_box">
            <h3 class="h3 last_h3">프로모션 정보 수신 동의 (선택)</h3>
            <div>
                <div class="article_text">
                    <p>책방일지에서 제공하는 이벤트/혜택 등 다양한 정보를 휴대전화(카카오 채널 또는 문자), 이메일로 받아보실 수 있습니다. 일부 서비스(별도 회원 체계로 운영하거나 책방일지 가입 이후 추가 가입하여 이용하는 서비스 등)의 경우, 개별 서비스에 대해 별도 수신 동의를 받을 수 있으며, 이때에도 수신 동의에 대해 별도로 안내하고 동의를 받습니다.</p>
                </div>
            </div>
            <div class="checks">
                <input type="checkbox" id="chk1_3">
                <label for="chk1_3">프로모션 정보 수신에 동의합니다.
                </label>
            </div>
        </div>

        <div class="btn_area_double">
            <button class="terms_btn" id="btnCancle" onclick="location.href='/'">취소</button>
            <button class="terms_btn" id="btnAgree">확인</button>
        </div>
    </form>

</div>

</html>






