<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footerFragment">
        <div>
            <p> 대구 독서모임 책방일지 </p>
            <p> 사업자등록번호 : 1863900788 </p>
            <p> 주소 : 대구광역시 중구 달구벌대로446길 7-16 </p>
            <p> book community </p>
            <address>&copy; <strong><a href="https://blog.naver.com/dailyrecordofbook1" target="_blank">dailyrecordofbook.com</a></strong></address>
            <a class="footerInsta" href="https://www.instagram.com/dailyrecordofbook/" target="_blank"><img style="width: 40px" th:src="@{/images/instagram.png}"></a>
        </div>
    </footer>
</html>