@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* home slide 부분 css start */
.mini-slide-container {
	display: none;
}

.top-slide-container {
    margin: 0 auto;
    width: 1040px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide button {
    position: absolute;
    width: 50px;
    height: 30px;
    color: black;
}

.slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#next-btn, #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
}

#next-btn:focus, #prev-btn:focus {
    outline: none;
}

@media screen and (max-width: 780px) {
	.top-slide-container {
    	width: 100%;
    	height: auto;
	}
	
	#next-btn, #prev-btn {
    	cursor: pointer;
    	background: transparent;
    	font-size: 20px;
    	border: none;
    	padding: 10px;
    	color: white;
	}
    
}
/* home slide 부분 css end */




/* icon 부분 start */
.middle {
    margin: 70px auto 30px;
    max-width: 750px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.icon {
    margin-bottom: 15px;
    font-size: 30px;
}

.h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.h3 {
    font-size: 30px;
}

.h3 > span {
    font-size: 24px;
}

.h6 {
    margin-top: 5px;
    font-size: 15px;
}

.middle-logo {
    margin: 0 auto;
}

.middle-logo > img {
    margin-left: 5px;
}

.middle-etc {
    max-width: 1040px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
}

.middle-etc > h3 {
    margin: 2px 0;
}

.middle-etc > h4 {
    margin-top: 20px;
}

.top > img {
    width: 960px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 35px;
}

.instagram_btn {
	background: inherit; 
	border:none; 
	box-shadow:none; 
	border-radius:0; 
	padding:0; 
	overflow:visible; 
	cursor:pointer
}

.instagram_btn {
	position: fixed;
	display: flex;
	width: 48px;
	height: 48px;
	color: white;
	font-size: 15px;
	justify-content: space-around;
	top: 69%;
	left: 88%;
	cursor:pointer;
    transition:800ms ease all;
    opacity: 0.85;
}

.instagram_btn:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.instagram_btn:focus{
    border: none;
    outline:none;
}


.blog_btn {
	background: inherit;
	border:none;
	box-shadow:none;
	border-radius:0;
	padding:0;
	overflow:visible;
	cursor:pointer
}

.blog_btn {
	position: fixed;
	display: flex;
	width: 48px;
	height: 48px;
	color: white;
	font-size: 15px;
	justify-content: space-around;
	top: 62%;
	left: 88%;
	cursor:pointer;
    transition:800ms ease all;
    opacity: 0.85;
}

.blog_btn:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.blog_btn:focus{
    border: none;
    outline:none;
}

.kakao_btn {
	background: inherit;
	border:none;
	box-shadow:none;
	border-radius:0;
	padding:0;
	overflow:visible;
	cursor:pointer
}

.kakao_btn {
	position: fixed;
	display: flex;
	width: 48px;
	height: 48px;
	color: white;
	font-size: 15px;
	justify-content: space-around;
	top: 55%;
	left: 88%;
	cursor:pointer;
    transition:800ms ease all;
    opacity: 0.85;
}

.kakao_btn:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

.kakao_btn:focus{
    border: none;
    outline:none;
}

.center-logo>img {
    width: 110px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.center-logo>h1 {
    display: flex;
    justify-content: center;
    font-size: 19px;
    margin-top: 50px;
    font-weight: 700;
}

.store-img {
    margin-top: 10px;
}

.store-img > a > img {
    display: flex;
    margin: 0px auto;
    opacity: 0.9;
}

.del_btn {
    width: 55px;
    height: 30px;
    position: relative;
    bottom: 85px;
}
    
    
}
/* icon 부분 end */


.bookSlide {
	width: 100%;
	margin-top: 60px;
}

.slideBox {
    width: 1040px;
    margin: 0 auto;
}

.bookSlide>p {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 35px;
}

.book-slide-container {
	position:relative;
	height: 225px; 
	overflow: hidden;
}

.book-slide-container img {
	height: 215px; 
	position: absolute;
}

.community {
    margin-top: 100px;
    width: 1040px;
    margin: 0 auto;
}

.community > p {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 35px;
}

.communityList {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.communityList > div {
    width: 185px;
    margin: 0 auto;
    cursor: pointer;
}

.communityList > div > p {
    margin-top: 3px;
}

.communityImage {
    width: 145px;
    display: flex;
    margin: 0 auto;
}


/* modal css */
#bookModal {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #00000088;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

#bookModal.hide {
	display: none;
}

#modClose {
	font-size: 40px;
	color: white;
	margin-left: 550px;
	margin-bottom: 50px;
}

.modText {
	margin-top: 12px;
	border: transparent;
    background: transparent;
    color: white;
    font-size: 35px;
    width: 500px;
    margin: 15px auto;
    text-align: center;
}


.modText:focus {
	outline-width: 0;
}


.modInfo {
	font-size: 27px;
	margin-bottom: 100px;
}


.calendar-title {
	margin: 0px auto;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 40px;
}

.calendar-title>p {
	font-size: 23px;
	font-weight: bold;
}

#calendar{
   width:670px;
   margin:40px auto;
}



@media screen and (max-width: 768px) {
    .icon {
        margin-bottom: 6px;
        font-size: 20px;
    }

    .h3 {
        font-size: 13px;
    }

    .h3 > span {
        font-size: 13px;
    }

    .h6 {
        margin-top: 2px;
        font-size: 10px;
    }

    .top > img {
        width: 100%;
        margin-top: 25px;
    }

    .middle {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .middle-etc {
        margin: 0 auto;
    }

    .middle-etc > h3 {
        font-size: 10.4px;
        margin: 2px 0;
    }

    .middle-etc > h4 {
        font-size: 9px;
        margin-top: 5px;
    }

    .instagram_btn {
        width: 33px;
        height: 33px;
        top: 68%;
        left: 88%;
	}

	.blog_btn {
	    width: 33px;
	    height: 33px;
        top: 62%;
    	left: 88%;
	}

	.kakao_btn {
	    width: 33px;
    	height: 33px;
        top: 56%;
        left: 88%;
	}

    .calendar-title > p {
        display: none;
    }

	#calendar{
       display: none;
    }

    .bookSlide {
    	width: 100%;
    	margin-top: 30px;
    }

    .slideBox {
        width: 100vw;
        margin: 0 auto;
    }

    .bookSlide > p {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .book-slide-container {
    	position:relative;
    	height: 68px;
    	overflow: hidden;
    }

    .book-slide-container img {
    	height: 68px;
    	position: absolute;
    }

    .store-img > a > img {
        display: flex;
        margin: 0px auto;
        opacity: 0.9;
        width: 84vw;
    }

    .community {
        width: 100vw;
        margin-top: 10px;
    }

    .community > p {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .communityList {
        width: 100vw;
    }

    .communityImage {
        width: 54px;
    }

    communityList > div {
        padding: 1px;
    }

    .communityList > div > p {
        margin-top: 1px;
        font-size: 9px;
    }

    .calendar-title {
        margin-top: 10px;
        margin-bottom: 35px;
    }

    #bookModal {
    	width: 100%;
    	height: 100%;
    	position: fixed;
    	left: 0;
    	top: 0;
    	background-color: #00000088;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	z-index: 1;
    }

    #modClose {
    	font-size: 22px;
    	color: white;
    	margin-left: 275px;
    	margin-bottom: 38px;
    }

    .modText {
    	margin-top: 7px;
    	border: transparent;
        background: transparent;
        color: white;
        font-size: 18px;
        margin: 15px auto;
        text-align: center;
        width: 100vw;
    }

    .modText:focus {
    	outline-width: 0;
    }

    .modInfo {
    	font-size: 14px;
    	margin-bottom: 100px;
    	text-align: center;
    }
}