<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/addBook.css}">
    <script src="/js/addBook.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" defer></script>
</head>

<div layout:fragment="content">
    <div class="write_content">
        <h1 class="h1">북 슬라이드 도서 추가하기</h1>

        <form id="write_form" action="/addBookSlide" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" class="write_title" name="bookTitle" placeholder="도서 제목을 입력해주세요." required>
            </div>
            <div>
                <input type="text" class="write_title" name="communityInfo" placeholder="모임 명과 날짜를 입력해주세요. (5기 정기 독서모임 / 2021.03.18)" required>
            </div>

            <div id="imageDiv">
                <div>
                    <input type="file" id="bookSlideFile" name="bookSlideFile" th:onchange="previewImage(event, this)">
                    <input type="button" class="bookButton" value="이미지 열기" onclick="fileBrowse('bookSlideFile')">
                    <p style="margin-top: 6px; margin-left: 6px;">* 북슬라이드는 355x293 사이즈의 규격 이미지만 첨부해주세요.</p>
                </div>
            </div>
            <div>
                <input type="submit" class="write_btn" value="추가">
            </div>
        </form>
    </div>

    <div class="write_mb">
        <img th:src="@{/images/write.png}" alt="">
        <p style="margin-top: 50px">"모바일 환경에서는 글쓰기 기능을 제공하지 않습니다."</p>
        <p>책방일지 PC버전을 이용해주세요.</p>
    </div>
</div>

</html>






