<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <!--    thymeleaf layout dialect가 contents페이지의 head태그를 layout의 head태그에 자동으로 추가해준다. -->
    <!--    필요힌 css, script 추가영역 -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/f094e80764.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" defer></script>
    <!--    calendar js, css    -->
    <link rel="stylesheet" th:href="@{/fullcalendar-5.5.1/lib/main.css}"/>
    <script src="/fullcalendar-5.5.1/lib/main.js" defer></script>
    <script src="/js/calendar.js" defer></script>
    <script src="/js/bookSlide.js" defer></script>
</head>



    <div layout:fragment="content" class="row">

        <!-- 상단 슬라이드 부분 -->
        <!-- media 바뀌는 기준으로 일반 슬라이드 변경 필요 -->
        <div class="top-slide-container">
            <th:block th:if="${session.user} != null">
                <th:block th:if="${#strings.equals(session.user.role, 'ADMIN')}">
                    <div class="slides">
                        <div class="slide" th:each="banner : ${bannerList}" >
                            <a href="#" th:onclick="delBanner([[${banner.idx}]]); return false;">
                                <img th:src="${banner.bannerImg}" alt="">
                            </a>
                        </div>
                    </div>
                </th:block>
                <th:block th:unless="${#strings.equals(session.user.role, 'ADMIN')}">
                    <div class="slides">
                        <div class="slide" th:each="banner : ${bannerList}" >
                            <a th:href="${banner.linkUrl}">
                                <img th:src="${banner.bannerImg}" alt="">
                            </a>
                        </div>
                    </div>
                </th:block>
            </th:block>
            <th:block th:unless="${session.user} != null">
                <div class="slides">
                    <div class="slide" th:each="banner : ${bannerList}" >
                        <a th:href="${banner.linkUrl}">
                            <img th:src="${banner.bannerImg}" alt="">
                        </a>
                    </div>
                </div>
            </th:block>

            <div class="slide-controls">
                <button id="prev-btn">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button id="next-btn">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>


        <div class="top">
            <img th:src="@{/images/top.jpeg}" alt="">
        </div>

        <div class="slideBox">
        <div class="bookSlide">
            <p>책방일지 모임 도서</p>
            <div class="book-slide-container">
                <th:block th:each="book : ${bookList}">
                    <div th:id="|bookData${book.idx}|"
                         th:data-bookidx="${book.idx}"
                         th:data-booktitle="${book.bookTitle}"
                         th:data-communityinfo="${book.communityInfo}"
                         th:data-bookimg="${book.bookImg}"></div>
                    <img th:src="${book.bookImg}" alt="모임 진행 도서" th:onclick="openModal([[${book.idx}]])">
                </th:block>
            </div>
            <div class="store-img">
                <a href="https://smartstore.naver.com/dailyrecordofbook" target="_blank">
                    <img th:src="@{/images/store.jpg}" alt="">
                </a>
            </div>
        </div>
        </div>

        <!-- 아이콘 부분 -->
        <div class="middle">
            <div class="middle-first">
                <i class="icon far fa-laugh"></i>
                <h3 class="h3">
                    295<span>&nbsp명</span>
                </h3>
                <h6 class="h6">함께하신 분들</h6>
            </div>
            <div class="middle-second">
                <i class="icon fas fa-book-open"></i>
                <h3 class="h3">
                    82<span>&nbsp권</span>
                </h3>
                <h6 class="h6">함께 읽은 책들</h6>
            </div>
            <div class="middle-third">
                <i class="icon far fa-comments"></i>
                <h3 class="h3">
                    571<span>&nbsp개</span>
                </h3>
                <h6 class="h6">함께 나눈 발제들</h6>
            </div>
        </div>

        <div class="middle-etc">
            <h3>더욱 더 많은 사람들이 책과 가까워 지기를 바라며 책방일지는 오늘도 우리의 일지를 써내려갑니다.</h3>
            <h4> < 2021년 6월 기준 > </h4>
        </div>

        <div id="bookModal" class="hide">
            <h1 id="modClose">X</h1>
            <input type="hidden" id="modBookIdx">
            <input type="image" src="" id="modBookImg">
            <input type="text" class="modText" id="modBookTitle" readonly>
            <input type="text" class="modText modInfo" id="modCommunityInfo" readonly>

            <th:block th:if="${session.user} != null">
                <th:block th:if="${#strings.equals(session.user.role, 'ADMIN')}">
                    <button class="del_btn" onclick="delBook()">delete</button>
                </th:block>
            </th:block>
        </div>


        <!-- 카카오 바로가기 버튼 -->
        <div class="kakao">
            <a href="https://pf.kakao.com/_CitEK" target="_blank">
                <img class="kakao_btn" th:src="@{/images/kakao.png}" alt="">
            </a>
        </div>
        <!-- 블로그 바로가기 버튼 -->
        <div class="blog">
            <a href="https://blog.naver.com/dailyrecordofbook1" target="_blank">
                <img class="blog_btn" th:src="@{/images/blog.png}" alt="">
            </a>
        </div>
        <!-- 인스타 바로가기 버튼 -->
        <div class="instagram">
            <a href="https://www.instagram.com/dailyrecordofbook/" target="_blank">
                <img class="instagram_btn" th:src="@{/images/instagram.png}" alt="">
            </a>
        </div>



        <!-- 구글 캘린더 연동 -->
        <div class="calendar-title">
            <p>책방일지는 지금</p>
        </div>
        <div id='calendar'></div>

    </div>
</html>